openapi: 3.0.3
info:
  title: ABillS admins API
  version: 1.0.20
  description: "Last modified 2023-08-11"
  contact:
    name: Have a question? Support contacts
    url: https://support.axbills.net.ua/
    email: dev@axbills.net.ua
servers:
  - url: https://demo.axbills.net.ua:9443/api.cgi
    description: Test Demo Server
tags:
  - name: users
    description: Работа с пользователями
  - name: groups
    description: Группы пользователей
  - name: tp
    description: Тарифные планы
  - name: msgs
    description: Msgs
  - name: internet
    description: Internet
  - name: iptv
    description: Iptv
  - name: abon
    description: Abon
  - name: crm
    description: Crm
  - name: districts
    description: Районы
  - name: streets
    description: Улицы
  - name: builds
    description: Дома
  - name: payments
    description: Оплаты
  - name: fees
    description: Списания
  - name: finance
    description: Получение курсов валют
  - name: online
    description: Сессии пользователя
  - name: version
    description: Версии
  - name: equipment
    description: Работа с оборудованием (модуль Equipment)
  - name: ureports
    description: Работа с оповещениями (модуль Ureports)
  - name: admins
    description: Работа с администраторами
  - name: voip
    description: Работа с телефонией (модуль Voip)
  - name: cablecat
    description: Работа с модулем Cablecat
  - name: tags
    description: Работа с метками пользователя (модуль Tags)
paths:
  /admins/{AID}:
    get:
      tags:
        - admins
      summary: Информация администратора
      operationId: adminInfo
      parameters:
        - name: AID
          in: path
          required: true
          description: ID администратора
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminInfo"
      security:
        - KEY: []
    put:
      tags:
        - admins
      summary: Изменить администратора
      operationId: adminChange
      parameters:
        - name: AID
          in: path
          required: true
          description: ID администратора
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminChangeRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminChangeResponse"
      security:
        - KEY: []
  /admins:
    post:
      tags:
        - admins
      summary: Добавить администратора
      operationId: adminAdd
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminAddRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAddResponse"
        400:
          description: Нет поля логин
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 700
                  errstr:
                    type: string
                    example: No field aLogin
      security:
        - KEY: []
  /admins/{AID}/permissions:
    post:
      tags:
        - admins
      summary: Изменить права администратора
      operationId: adminSetPermissions
      parameters:
        - name: AID
          in: path
          description: ID администратора
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminSetPermissionsRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminSetPermissionsResponse"
      security:
        - KEY: []
  /ureports/user/list:
    get:
      tags:
        - ureports
      summary: Список пользователей с включенными оповещениями
      operationId: ureportsUserList
      parameters:
        - name: tpId
          in: query
          description: ID тарифного план
          schema:
            type: boolean
            default: true
        - name: tpName
          in: query
          description: Название тарифного плана
          schema:
            type: boolean
            default: false
        - name: destination
          in: query
          description: Массив, содержащий различные направления, в которые будет отправлено оповещение
          schema:
            type: boolean
            default: true
        - name: status
          in: query
          description: Статус подписки
          schema:
            type: boolean
            default: false
        - name: uid
          in: query
          description: UID пользователя
          schema:
            type: boolean
            default: true
        - name: reportsCount
          in: query
          description: Количество отчётов
          schema:
            type: boolean
            default: false
        - name: pageRows
          in: query
          description: Количество записей
          schema:
            type: integer
            default: 100000
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UreportsUserInfo"
      security:
        - KEY: []
  /ureports/user/{UID}:
    get:
      tags:
        - ureports
      summary: Получить пользователя
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UreportsUserInfo"
      security:
        - KEY: []
    post:
      tags:
        - ureports
      summary: Добавить оповещения пользователю
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UreportsUserAddRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UreportsUserAddResponse200"
        400:
          description: Пользователь существует
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UreportsUserAddResponse400"
      security:
        - KEY: []
    put:
      tags:
        - ureports
      summary: Изменить оповещения пользователю
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UreportsUserAddRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UreportsUserAddResponse200"
      security:
        - KEY: []
    delete:
      tags:
        - ureports
      summary: Удалить оповещения пользователю
      operationId: ureportsDeleteUser
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully deleted
      security:
        - KEY: []
  /ureports/user/{UID}/reports:
    get:
      tags:
        - ureports
      summary: Получить отчеты пользователя
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UreportsUserReports"
      security:
        - KEY: []
    post:
      tags:
        - ureports
      summary: Добавить отчеты пользователя
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UreportsUserReportAddReqeust"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully added reports
        400:
          description: Поле отчеты должны быть массивом
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UreportsUserReportAddResponse400"
      security:
        - KEY: []
    delete:
      tags:
        - ureports
      summary: Удалить отчеты пользователя
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully deleted
        400:
          description: Нет пользователя
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UreportsUserReportDeleteResponse400"
      security:
        - KEY: []
  /ureports/user/{UID}/reports/{ID}:
    delete:
      tags:
        - ureports
      summary: Удалить отчет пользователя
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
        - name: ID
          in: path
          description: ID отчета
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully deleted
        400:
          description: Нет пользователя
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UreportsUserReportDeleteResponse400"
      security:
        - KEY: []
  /equipment/onu/list/:
    get:
      tags:
        - equipment
      summary: Список ONU
      operationId: getOnuList
      parameters:
        - name: branch
          in: query
          description: Ветка
          schema:
            type: boolean
            default: false
        - name: branchDesc
          in: query
          description: Описание ветки
          schema:
            type: boolean
            default: false
        - name: portId
          in: query
          description: ID порта
          schema:
            type: boolean
            default: true
        - name: vlanId
          in: query
          description: ID Vlan
          schema:
            type: boolean
            default: false
        - name: onuId
          in: query
          description: ID ONU
          schema:
            type: boolean
            default: true
        - name: vlan
          in: query
          description: Vlan
          schema:
            type: boolean
            default: true
        - name: onuDesc
          in: query
          description: Описание ONU
          schema:
            type: boolean
            default: false
        - name: onuBillingDesc
          in: query
          description: Дополнительное описание ONU через биллинг
          schema:
            type: boolean
            default: false
        - name: oltRxPower
          in: query
          description: Уровень сигнала OLT
          schema:
            type: boolean
            default: false
        - name: dhcpPort
          in: query
          description: DHCP port
          schema:
            type: boolean
            default: true
        - name: onuDhcpPort
          in: query
          description: ONU DHCP port
          schema:
            type: boolean
            default: false
        - name: onuGraph
          in: query
          description: Данные для графика по ONU
          schema:
            type: boolean
            default: false
        - name: nasIp
          in: query
          description: IP сервера доступа
          schema:
            type: boolean
            default: false
        - name: nasId
          in: query
          description: ID сервера доступа
          schema:
            type: boolean
            default: true
        - name: onuSnmpId
          in: query
          description: ONU SNMP ID
          schema:
            type: boolean
            default: true
        - name: datetime
          in: query
          description: Дата последнего опроса ONU
          schema:
            type: boolean
            default: false
        - name: serverVlan
          in: query
          description: Vlan сервера
          schema:
            type: boolean
            default: false
        - name: traffic
          in: query
          description: Трафик
          schema:
            type: boolean
            default: false
        - name: login
          in: query
          description: Логин абонента
          schema:
            type: boolean
            default: false
        - name: userMac
          in: query
          description: MAC пользователя
          schema:
            type: boolean
            default: false
        - name: macBehindOnu
          in: query
          description: MAC ONU
          schema:
            type: boolean
            default: false
        - name: distance
          in: query
          description: Расстояние между сервером и ONU
          schema:
            type: boolean
            default: false
        - name: externalSystemLink
          in: query
          description: Ссылка на внешнюю систему
          schema:
            type: boolean
            default: false
        - name: macSerial
          in: query
          description: Серийный номер MAC
          schema:
            type: boolean
            default: false
        - name: status
          in: query
          description: Статус
          schema:
            type: boolean
            default: false
        - name: ponType
          in: query
          description: Тип оборудования
          schema:
            type: boolean
            default: true
        - name: snmpId
          in: query
          description: SNMP ID
          schema:
            type: boolean
            default: true
        - name: pageRows
          in: query
          description: Количество записей
          schema:
            type: integer
            default: 25
        - name: pg
          in: query
          description: Работает вместе с pageRows, параметр отвечает с какой записи начинать возвращать в запросе
          schema:
            type: integer
            default: 0
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OnuInfo"
      security:
        - KEY: []
  /equipment/onu/{ID}/:
    get:
      tags:
        - equipment
      summary: Возвращает ONU по id
      operationId: getOnuById
      parameters:
        - name: ID
          in: path
          description: ID ONU
          required: true
          schema:
            type: integer
        - name: branch
          in: query
          description: Ветка
          schema:
            type: boolean
            default: false
        - name: branchDesc
          in: query
          description: Описание ветки
          schema:
            type: boolean
            default: false
        - name: vlanId
          in: query
          description: ID Vlan
          schema:
            type: boolean
            default: false
        - name: onuId
          in: query
          description: ID ONU
          schema:
            type: boolean
            default: true
        - name: vlan
          in: query
          description: Vlan
          schema:
            type: boolean
            default: true
        - name: onuDesc
          in: query
          description: Описание ONU
          schema:
            type: boolean
            default: false
        - name: onuBillingDesc
          in: query
          description: Дополнительное описание ONU через биллинг
          schema:
            type: boolean
            default: false
        - name: oltRxPower
          in: query
          description: Уровень сигнала OLT
          schema:
            type: boolean
            default: false
        - name: onuDhcpPort
          in: query
          description: ONU DHCP port
          schema:
            type: boolean
            default: true
        - name: onuGraph
          in: query
          description: Данные для графика по ONU
          schema:
            type: boolean
            default: false
        - name: nasIp
          in: query
          description: IP сервера доступа
          schema:
            type: boolean
            default: false
        - name: nasId
          in: query
          description: ID сервера доступа
          schema:
            type: boolean
            default: true
        - name: onuSnmpId
          in: query
          description: ONU SNMP ID
          schema:
            type: boolean
            default: true
        - name: portId
          in: query
          description: ID порта
          schema:
            type: boolean
            default: true
        - name: ponType
          in: query
          description: Тип оборудования
          schema:
            type: boolean
            default: true
        - name: datetime
          in: query
          description: Дата последнего опроса ONU
          schema:
            type: boolean
            default: false
        - name: serverVlan
          in: query
          description: Vlan сервера
          schema:
            type: boolean
            default: false
        - name: traffic
          in: query
          description: Трафик
          schema:
            type: boolean
            default: false
        - name: login
          in: query
          description: Логин абонента
          schema:
            type: boolean
            default: false
        - name: userMac
          in: query
          description: MAC пользователя
          schema:
            type: boolean
            default: false
        - name: macBehindOnu
          in: query
          description: MAC ONU
          schema:
            type: boolean
            default: false
        - name: distance
          in: query
          description: Расстояние между сервером и ONU
          schema:
            type: boolean
            default: false
        - name: macSerial
          in: query
          description: Серийный номер MAC
          schema:
            type: boolean
            default: false
        - name: status
          in: query
          description: Статус
          schema:
            type: boolean
            default: false
        - name: externalSystemLink
          in: query
          description: Ссылка на внешнюю систему
          schema:
            type: boolean
            default: false
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OnuInfo"
      security:
        - KEY: [ ]
  /equipment/box/list/:
    get:
      tags:
        - equipment
      summary: Список OLT
      operationId: getOltList
      parameters:
        - name: sort
          in: query
          description: Сортировка по одному параметру выше
          schema:
            type: string
        - name: pageRows
          in: query
          description: Количество записей
          schema:
            type: integer
            default: 25
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OltList"
      security:
        - KEY: []
  /equipment/used/ports/:
    get:
      tags:
        - equipment
      summary: Список использованных портов
      operationId: getUsedPorts
      parameters:
        - name: nasId
          in: query
          description: Поиск портов по nasId используется только вместе с portsOnly. Игнорируется когда используется fullList
          schema:
            type: string
        - name: portsOnly
          in: query
          description: только порты используется только вместе с nasId. Игнорируется когда используется fullList
          schema:
            type: boolean
        - name: fullList
          in: query
          description: полный список
          schema:
            type: boolean
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsedPorts"
      security:
        - KEY: []
  /equipment/nas/types/:
    get:
      tags:
        - equipment
      summary: Список типов серверов доступа
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NasTypesList"
      security:
        - KEY: []
  /equipment/nas/list/extra/:
    get:
      tags:
        - equipment
      summary: Список серверов доступа с дополнительной иформацией
      operationId: getNAsListExtra
      parameters:
        - name: id
          in: query
          description: ID модели
          schema:
            type: boolean
            default: true
        - name: nasName
          in: query
          description: Имя сервера доступа
          schema:
            type: boolean
            default: false
        - name: systemId
          in: query
          description: System ID
          schema:
            type: boolean
            default: false
        - name: typeId
          in: query
          description: ID типа доступа
          schema:
            type: boolean
            default: false
        - name: vendorId
          in: query
          description: ID вендора
          schema:
            type: boolean
            default: false
        - name: vendorName
          in: query
          description: Название вендора
          schema:
            type: boolean
            default: false
        - name: nasType
          in: query
          description: Тип сервера доступа
          schema:
            type: boolean
            default: false
        - name: modelName
          in: query
          description: Название модели оборудования
          schema:
            type: boolean
            default: false
        - name: snmpTpl
          in: query
          description: Шаблон SNMP
          schema:
            type: boolean
            default: false
        - name: modelId
          in: query
          description: ID модели
          schema:
            type: boolean
            default: false
        - name: status
          in: query
          description: Статус
          schema:
            type: boolean
            default: false
        - name: disable
          in: query
          description: Параметр, который показывает активный (0) или неактивный (1) сервер доступа
          schema:
            type: boolean
            default: false
        - name: typeName
          in: query
          description: Название типа оборудования
          schema:
            type: boolean
            default: false
        - name: ports
          in: query
          description: Порты
          schema:
            type: boolean
            default: false
        - name: portsWithExtra
          in: query
          description: Екстрапорты
          schema:
            type: boolean
            default: false
        - name: mac
          in: query
          description: MAC
          schema:
            type: boolean
            default: false
        - name: portShift
          in: query
          description: Сдвиг портов
          schema:
            type: boolean
            default: false
        - name: autoPortShift
          in: query
          description: Авто сдвиг портов
          schema:
            type: boolean
            default: false
        - name: fdbUsesPortNumberIndex
          in: query
          description: FDB использованные порты
          schema:
            type: boolean
            default: false
        - name: eponSupportedOnus
          in: query
          description: Поддержка Epon ONU
          schema:
            type: boolean
            default: false
        - name: gponSupportedOnus
          in: query
          description: Поддержка Gpon ONU
          schema:
            type: boolean
            default: false
        - name: geponSupportedOnus
          in: query
          description: Поддержка Gepon ONU
          schema:
            type: boolean
        - name: defaultOnuRegTemplateEpon
          in: query
          description: Дефолтный шаблон для регистрации Epon
          schema:
            type: boolean
            default: false
        - name: defaultOnuRegTemplateGpon
          in: query
          description: Дефолтный шаблон для регистрации Gpon
          schema:
            type: boolean
            default: false
        - name: nasIp
          in: query
          description: IP сервера доступа
          schema:
            type: boolean
        - name: nasMngHostPort
          in: query
          description: Хост порт управлением сервера доступа
          schema:
            type: boolean
            default: false
        - name: nasMngPassword
          in: query
          description: Пароль для управления сервером доступа
          schema:
            type: boolean
            default: false
        - name: nasMngUser
          in: query
          description: Пользователь для управления сервером доступа
          schema:
            type: boolean
        - name: nasId
          in: query
          description: ID сервера доступа
          schema:
            type: boolean
            default: true
        - name: nasGid
          in: query
          description: Группа серверов доступа
          schema:
            type: boolean
        - name: nasGroupName
          in: query
          description: Название группы серверов доступа
          schema:
            type: boolean
            default: true
        - name: districtId
          in: query
          description: ID района
          schema:
            type: boolean
            default: false
        - name: streetId
          in: query
          description: ID улицы
          schema:
            type: boolean
        - name: locationId
          in: query
          description: Параметр который возвращает биллинг
          schema:
            type: boolean
            default: false
        - name: domainId
          in: query
          description: ID домена
          schema:
            type: boolean
            default: false
        - name: domainName
          in: query
          description: Название домена (не работает если не включен Multidoms)
          schema:
            type: boolean
        - name: coordx
          in: query
          description: Координата x района
          schema:
            type: boolean
            default: false
        - name: coordy
          in: query
          description: Координата y района
          schema:
            type: boolean
            default: false
        - name: revision
          in: query
          description: Номер версии
          schema:
            type: boolean
        - name: snmpVersion
          in: query
          description: SNMP версия
          schema:
            type: boolean
            default: false
        - name: serverVlan
          in: query
          description: Vlan сервера
          schema:
            type: boolean
            default: false
        - name: lastActivity
          in: query
          description: Последняя активность
          schema:
            type: boolean
        - name: internetVlan
          in: query
          description: Vlan интернета
          schema:
            type: boolean
            default: false
        - name: tr069Vlan
          in: query
          description: Vlan удаленного управления через tr069
          schema:
            type: boolean
            default: false
        - name: iptvVlan
          in: query
          description: Vlan IPTV
          schema:
            type: boolean
        - name: nasDescr
          in: query
          description: Описание сервера доступа
          schema:
            type: boolean
            default: false
        - name: nasIdentifier
          in: query
          description: Дополнительный идентификатор
          schema:
            type: boolean
            default: false
        - name: nasAlive
          in: query
          description: Время получения Alive сообщений. Используется для контроля за состоянием соединения пользователя.
          schema:
            type: boolean
        - name: nasRadPairs
          in: query
          description: RAD Pairs
          schema:
            type: boolean
            default: false
        - name: nasEntrance
          in: query
          description: Подъезд, где размещен сервер доступа
          schema:
            type: boolean
            default: false
        - name: zabbixHostid
          in: query
          description: Zabbix host ID
          schema:
            type: boolean
        - name: pageRows
          in: query
          description: Количество записей
          schema:
            type: integer
            default: 25
        - name: pg
          in: query
          description: Работает вместе с pageRows, параметр отвечает с какой записи начинать возвращать в запросе
          schema:
            type: integer
            default: 0
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NasListExtra"
      security:
        - KEY: []
  /equipment/nas/list/:
    get:
      tags:
        - equipment
      summary: Список серверов доступа
      operationId: getNAsList
      parameters:
        - name: authType
          in: query
          description: Тип авторизации
          schema:
            type: boolean
            default: true
        - name: descr
          in: query
          description: Описание
          schema:
            type: boolean
            default: true
        - name: extAcct
          in: query
          description: Внешний аккаунтинг
          schema:
            type: boolean
            default: true
        - name: id
          in: query
          description: ID сервера доступа
          schema:
            type: boolean
            default: true
        - name: nasName
          in: query
          description: Имя сервера доступа
          schema:
            type: boolean
            default: true
        - name: nasType
          in: query
          description: Тип сервера доступа
          schema:
            type: boolean
            default: true
        - name: nasDisable
          in: query
          description: Параметр, который показывает активный (0) или неактивный (1) сервер доступа
          schema:
            type: boolean
            default: true
        - name: mac
          in: query
          description: MAC адрес
          schema:
            type: boolean
            default: true
        - name: nasIp
          in: query
          description: IP сервера доступа
          schema:
            type: boolean
            default: true
        - name: nasMngIpPort
          in: query
          description: IP порт для управления сервером доступа
          schema:
            type: boolean
            default: true
        - name: nasMngHostPort
          in: query
          description: Хост порт управления сервером доступа
          schema:
            type: boolean
            default: false
        - name: nasMngUser
          in: query
          description: Пользователь для управления сервером доступа
          schema:
            type: boolean
            default: true
        - name: nasMngPassword
          in: query
          description: Пароль для управления сервером доступа
          schema:
            type: boolean
            default: true
        - name: nasId
          in: query
          description: ID сервера доступа
          schema:
            type: boolean
            default: true
        - name: gid
          in: query
          description: ID группы
          schema:
            type: boolean
        - name: nasGroupName
          in: query
          description: Название группы
          schema:
            type: boolean
            default: true
        - name: districtId
          in: query
          description: ID района
          schema:
            type: boolean
            default: false
        - name: locationId
          in: query
          description: ID локации
          schema:
            type: boolean
            default: false
        - name: domainId
          in: query
          description: ID домена
          schema:
            type: boolean
            default: false
        - name: nasIdentifier
          in: query
          description: Дополнительный идентификатор
          schema:
            type: boolean
            default: true
        - name: nasAlive
          in: query
          description: Время получения Alive сообщений. Используется для контроля за состоянием соединения пользователя.
          schema:
            type: boolean
            default: true
        - name: nasRadPairs
          in: query
          description: RAD Pairs
          schema:
            type: boolean
            default: true
        - name: nasEntrance
          in: query
          description: Подъезд, где размещен сервер доступа
          schema:
            type: boolean
            default: false
        - name: nasFloor
          in: query
          description: Этаж, где размещен сервер доступа
          schema:
            type: boolean
            default: false
        - name: addressFull
          in: query
          description: Полный адрес
          schema:
            type: boolean
            default: false
        - name: zabbixHostid
          in: query
          description: Zabbix хост ID
          schema:
            type: boolean
        - name: pageRows
          in: query
          description: Количество записей
          schema:
            type: integer
            default: 25
        - name: pg
          in: query
          description: Работает вместе с pageRows, параметр отвечает с какой записи начинать возвращать в запросе
          schema:
            type: integer
            default: 0
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NasList"
      security:
        - KEY: []
  /equipment/nas/:
    post:
      tags:
        - equipment
      summary: Добавить сервер доступа
      operationId: nasAdd
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NasRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NasAddResponse200"
        400:
          description: Нет поля ip
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NasAddResponse400"
      security:
        - KEY: []
  /equipment/nas/{ID}/:
    put:
      tags:
        - equipment
      summary: Изменить сервер доступа
      operationId: nasChange
      parameters:
        - name: ID
          in: path
          description: ID сервера доступа
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NasRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NasChangeResponse"
        400:
          description: Нет поля ip
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 205
                  errstr:
                    type: string
                    example: No field ip
      security:
        - KEY: []
    delete:
      tags:
        - equipment
      summary: Удалить сервер доступа
      operationId: nasDelete
      parameters:
        - name: ID
          in: path
          description: ID сервера доступа
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: OK
      security:
        - KEY: []
  /equipment/nas/groups/list/:
    get:
      tags:
        - equipment
      summary: Список групп серверов доступа
      operationId: getNasGroups
      parameters:
        - name: sort
          in: query
          description: Сортировка по одному параметру выше
          schema:
            type: string
        - name: pageRows
          in: query
          description: Количество записей
          schema:
            type: integer
            default: 100000
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully deleted
        400:
          description: Ошибка удаления
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 30031
                  errstr:
                    type: string
                    example: nasGroup with id 3 not exists
      security:
        - KEY: []
  /equipment/nas/groups/add/:
    post:
      tags:
        - equipment
      summary: Добавить группу серверов доступа
      operationId: nasGroupAdd
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Test API
                comments:
                  type: string
                  example: created as example for REST API
                disable:
                  type: number
                  example: 1
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NasGroupAddResponse200"
        400:
          description: Дубликат названия
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NasGroupResponse400"
      security:
        - KEY: []
  /equipment/nas/groups/{ID}/:
    put:
      tags:
        - equipment
      summary: Изменить группу серверов доступа
      operationId: nasGroupChange
      parameters:
        - name: ID
          in: path
          description: ID группы сервера доступа
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Test API
                comments:
                  type: string
                  example: changed as example for REST API
                disable:
                  type: number
                  example: 1
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NasGroupChangeResponse200"
        400:
          description: Дубликат названия
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NasGroupResponse400"
      security:
        - KEY: []
    delete:
      tags:
        - equipment
      summary: Удалить группу серверов доступа
      operationId: nasGroupDelete
      parameters:
        - name: ID
          in: path
          description: ID группы сервера доступа
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully deleted
        400:
          description: Ошибка удаления
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 30032
                  errstr:
                    type: string
                    example: "nasGroup with id 1 not exists"
      security:
        - KEY: []
  /equipment/nas/ip/pools/:
    get:
      tags:
        - equipment
      summary: Список IP pools к серверам доступа
      operationId: getIpPoolsList
      parameters:
        - name: id
          in: query
          description: ID пула
          schema:
            type: boolean
            default: true
        - name: nasName
          in: query
          description: Имя сервера доступа
          schema:
            type: boolean
            default: false
        - name: poolName
          in: query
          description: Название пула
          schema:
            type: boolean
            default: false
        - name: firstIp
          in: query
          description: Первый IP
          schema:
            type: boolean
            default: false
        - name: lastIp
          in: query
          description: Последний IP
          schema:
            type: boolean
            default: false
        - name: ip
          in: query
          description: IP (число)
          schema:
            type: boolean
            default: false
        - name: lastIpNum
          in: query
          description: Последний IP (число)
          schema:
            type: boolean
            default: false
        - name: IpCount
          in: query
          description: Количество
          schema:
            type: boolean
            default: false
        - name: internetIpFree
          in: query
          description: Количество свободных IP
          schema:
            type: boolean
            default: false
        - name: priority
          in: query
          description: Приоритет
          schema:
            type: boolean
            default: false
        - name: speed
          in: query
          description: Скорость
          schema:
            type: boolean
            default: false
        - name: name
          in: query
          description: Имя
          schema:
            type: boolean
            default: false
        - name: nas
          in: query
          description: Сервер доступа
          schema:
            type: boolean
            default: false
        - name: netmask
          in: query
          description: Маска подсети
          schema:
            type: boolean
            default: false
        - name: gateway
          in: query
          description: Сетевой шлюз
          schema:
            type: boolean
            default: false
        - name: static
          in: query
          description: Статический пул
          schema:
            type: boolean
            default: false
        - name: activeNasId
          in: query
          description: ID активного сервера доступа
          schema:
            type: boolean
            default: false
        - name: ipSkip
          in: query
          description: IP, которые пропускаются
          schema:
            type: boolean
            default: false
        - name: comments
          in: query
          description: Комментарии
          schema:
            type: boolean
            default: false
        - name: dns
          in: query
          description: DNS
          schema:
            type: boolean
            default: false
        - name: vlan
          in: query
          description: VLAN
          schema:
            type: boolean
            default: false
        - name: guest
          in: query
          description: Гостевой режим
          schema:
            type: boolean
            default: false
        - name: nextPool
          in: query
          description: Следующий пул
          schema:
            type: boolean
            default: false
        - name: nasId
          in: query
          description: ID сервера доступа
          schema:
            type: boolean
            default: false
        - name: showAllColumns
          in: query
          description: Параметр, при котором выводятся все поля
          schema:
            type: boolean
            default: false
        - name: ipv6Prefix
          in: query
          description: IPV6 Prefix
          schema:
            type: boolean
            default: false
        - name: ipv6Mask
          in: query
          description: IPV6 Mask
          schema:
            type: boolean
            default: false
        - name: ipv6Temp
          in: query
          description: IPV6 Temp
          schema:
            type: boolean
            default: false
        - name: ipv6Pd
          in: query
          description: IPV6 Pd
          schema:
            type: boolean
            default: false
        - name: ipv6PdMask
          in: query
          description: IPV6 Pd Mask
          schema:
            type: boolean
            default: false
        - name: ipv6PdTemp
          in: query
          description: IPV6 Pd Temp
          schema:
            type: boolean
            default: false
        - name: pageRows
          in: query
          description: Количество записей
          schema:
            type: integer
            default: 100000
        - name: sort
          in: query
          description: Сортировка по одному параметру выше
          schema:
            type: string
            default: false
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NasIpPools"
      security:
        - KEY: []
    post:
      tags:
        - equipment
      summary: Добавить IP pool к серверу доступа
      operationId: nasIpPoolsAdd
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                poolId:
                  type: number
                  example: 1
                nasId:
                  type: number
                  example: 2
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeResponse200"
        400:
          description: Нет поля ip
          content:
            application/json:
              schema:
                properties:
                  errno:
                    type: number
                    example: 209
                  errstr:
                    type: string
                    example: No field nasId
      security:
        - KEY: []
  /equipment/nas/ip/pools/{nasId}/{poolId}:
    delete:
      tags:
        - equipment
      summary: Удалить IP pool привязанный к серверу доступа
      operationId: nasIpPoolsDelete
      parameters:
        - name: nasId
          in: path
          description: ID сервера доступа
          required: true
          schema:
            type: integer
        - name: poolId
          in: path
          description: ID пула
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully deleted
        400:
          description: Ошибка удаления
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 30032
                  errstr:
                    type: string
                    example: "nasIpPool with id 1 and poolId 2 not exists"
      security:
        - KEY: []
  /users:
    post:
      tags:
        - users
      summary: Добавить нового пользователя
      operationId: addUser
      description: >
        Также можно добавлять все информационные поля
        Пример: если в БД `_TEST_FIELD` то можно добавить как `_testField`
      requestBody:
        description: Параметры, которые нужно указать
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/User"
                - $ref: "#/components/schemas/UserPi"
        required: true
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserCreated"
      security:
        - KEY: []
  /users/all:
    get:
      tags:
        - users
      summary: Получить всех пользователей
      parameters:
        - name: uid
          in: query
          description: ID пользователя
          schema:
            type: boolean
            default: true
        - name: fio
          in: query
          description: ФИО пользователя
          schema:
            type: boolean
            default: false
        - name: deposit
          in: query
          description: Баланс пользователя
          schema:
            type: boolean
            default: false
        - name: extDeposit
          in: query
          description: Дополнительный баланc
          schema:
            type: boolean
            default: false
        - name: extBillId
          in: query
          description: ID дополнительного счета
          schema:
            type: boolean
            default: false
        - name: tags
          in: query
          description: Метки пользователя
          schema:
            type: boolean
            default: false
        - name: credit
          in: query
          description: Кредит
          schema:
            type: boolean
            default: false
        - name: creditDate
          in: query
          description: Дата установки кредита
          schema:
            type: boolean
            default: false
        - name: loginStatus
          in: query
          description: Статус пользователя
          schema:
            type: boolean
            default: false
        - name: login
          in: query
          description: Логин
          schema:
            type: boolean
            default: true
        - name: phone
          in: query
          description: Номер телефона
          schema:
            type: boolean
            default: false
        - name: cellPhone
          in: query
          description: Номер мобильного телефона
          schema:
            type: boolean
            default: false
        - name: telegram
          in: query
          description: Telegram ID
          schema:
            type: boolean
            default: false
        - name: viber
          in: query
          description: Viber ID
          schema:
            type: boolean
            default: false
        - name: email
          in: query
          description: E-mail
          schema:
            type: boolean
            default: false
        - name: floor
          in: query
          description: Этаж
          schema:
            type: boolean
            default: false
        - name: entrance
          in: query
          description: Подъезд
          schema:
            type: boolean
            default: false
        - name: addressFlat
          in: query
          description: Номер квартиры
          schema:
            type: boolean
            default: false
        - name: pasportDate
          in: query
          description: Дата выдачи паспорта
          schema:
            type: boolean
            default: false
        - name: pasportNum
          in: query
          description: Номер паспорта
          schema:
            type: boolean
            default: false
        - name: pasportGrant
          in: query
          description: Орган выдачи паспорта
          schema:
            type: boolean
            default: false
        - name: city
          in: query
          description: Город проживания
          schema:
            type: boolean
            default: false
        - name: zip
          in: query
          description: Индекс города
          schema:
            type: boolean
            default: false
        - name: gid
          in: query
          description: ID группы
          schema:
            type: boolean
            default: false
        - name: companyId
          in: query
          description: ID компании
          schema:
            type: boolean
            default: false
        - name: companyName
          in: query
          description: Наименование компании
          schema:
            type: boolean
            default: false
        - name: contractId
          in: query
          description: ID контракта
          schema:
            type: boolean
            default: false
        - name: contractSufix
          in: query
          description: Суффикс контракта
          schema:
            type: boolean
            default: false
        - name: contractDate
          in: query
          description: Дата подписания контракта
          schema:
            type: boolean
            default: false
        - name: expire
          in: query
          description: Дата окончания аккаунта
          schema:
            type: boolean
            default: false
        - name: reduction
          in: query
          description: Скидка
          schema:
            type: boolean
            default: false
        - name: lastPayment
          in: query
          description: Дата последней оплаты
          schema:
            type: boolean
            default: false
        - name: lastFees
          in: query
          description: Дата последнего списания
          schema:
            type: boolean
            default: false
        - name: registration
          in: query
          description: Дата регистрации
          schema:
            type: boolean
            default: false
        - name: reductionDate
          in: query
          description: Дата установки скидки
          schema:
            type: boolean
            default: false
        - name: comments
          in: query
          description: Комментарий
          schema:
            type: boolean
            default: false
        - name: billId
          in: query
          description: Уникальный идентификатор счета пользователя
          schema:
            type: boolean
            default: false
        - name: activate
          in: query
          description: Дата активации пользователя
          schema:
            type: boolean
            default: false
        - name: acceptRules
          in: query
          description: 1 - пользователь принял условия соглашения в кабинете пользователя, 2 - не принял
          schema:
            type: boolean
            default: false
        - name: password
          in: query
          description: Пароль пользователя
          schema:
            type: boolean
            default: false
        - name: birthDate
          in: query
          description: Дата рождения
          schema:
            type: boolean
            default: false
        - name: pageRows
          in: query
          description: Количество записей
          schema:
            type: integer
            default: 25
        - name: sort
          in: query
          description: Сортировка по одному параметру выше
          schema:
            type: string
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserList"
      security:
        - KEY: []
  /users/{UID}:
    get:
      tags:
        - users
      summary: Получить пользователя по UID
      description: Возвращает пользователя
      operationId: getUserByUID
      parameters:
        - name: UID
          in: path
          description: UID пользователя в биллинге
          required: true
          schema:
            type: integer
            format: int64
        - name: showPassword
          in: query
          description: Параметр который возвращает пароль пользователя
          schema:
            type: boolean
            default: false
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        400:
          description: Пользователь не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
      security:
        - KEY: []
    put:
      tags:
        - users
      summary: Обновить информацию о пользователе
      operationId: updateUser
      description: >
        Также можно добавлять все информационные поля
        Пример: если в БД `_TEST_FIELD` то можно добавить как `_testField`
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/User"
                - $ref: "#/components/schemas/UserPi"
        required: true
      responses:
        400:
          description: Invalid ID supplied
          content: {}
      security:
        - KEY: []
    delete:
      tags:
        - users
      summary: Удалить пользователя
      description: Удаление пользователя по UID, полностью через API пользователя невозможно
      operationId: deleteUser
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
            format: int64
        - name: date
          in: query
          description: Дата удаления
          schema:
            type: string
            example: '2023-01-01'
        - name: comments
          in: query
          description: Комментарии к удалению
          schema:
            type: string
            example: Больше не наш абонент
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully deleted user with uid 103394
                  uid:
                    type: number
                    example: 103394
        400:
          description: Пользователь не найден
          content:
            application/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 15
                  errstr:
                    type: string
                    example: User not found with uid 103399
      security:
        - KEY: []
  /users/{UID}/pi:
    get:
      tags:
        - users
      summary: Получить персональную информацию о пользователе
      description: Возвращает персональную информацию пользователя
      operationId: getUserPiByUID
      parameters:
        - name: UID
          in: path
          description: UID пользователя в биллинге
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPi"
        400:
          description: Пользователь не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
      security:
        - KEY: []
    put:
      tags:
        - users
      summary: Изменение персональной информации пользователю ИСПОЛЬЗОВАТЬ /users/{UID}/
      deprecated: true
      operationId: changeUserPi
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserPi"
        required: true
      responses:
        400:
          description: Пользователь не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
      security:
        - KEY: []
    post:
      tags:
        - users
      summary: Добавление персональной информации пользователю ИСПОЛЬЗОВАТЬ /users/
      deprecated: true
      operationId: addUserPi
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserPi"
        required: true
      responses:
        400:
          description: Пользователь не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
      security:
        - KEY: []
  /users/{UID}/contacts:
    get:
      tags:
        - users
      summary: Получить контакты пользователя по UID
      description: Возвращает контакты пользователя
      operationId: getUserContactsByUID
      parameters:
        - name: UID
          in: path
          description: UID пользователя в биллинге
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactsArray"
        400:
          description: Пользователь не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
      security:
        - KEY: []
    post:
      tags:
        - users
      summary: Добавление контакта пользователю
      operationId: updateUserContact
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserContactAdd"
        required: true
      responses:
        400:
          description: Пользователь не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
      security:
        - KEY: []
  /users/{UID}/contacts/{ID}:
    put:
      tags:
        - users
      summary: Обновить контакт пользователю
      operationId: updateUserConctact
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
            format: int64
        - name: ID
          in: path
          description: ID контакта
          required: true
          schema:
            type: integer
            format: int64
      responses:
        400:
          description: Пользователь не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
      security:
        - KEY: []
    delete:
      tags:
        - users
      summary: Удалить контакт пользователя
      operationId: deleteUserContact
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
            format: int64
        - name: ID
          in: path
          description: ID контакта
          required: true
          schema:
            type: integer
            format: int64
      responses:
        400:
          description: Пользователь не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
      security:
        - KEY: []
  /users/contacts:
    post:
      tags:
        - users
      summary: Получить контакты
      description: Возвращает контакты пользователей
      operationId: getContacts
      requestBody:
        description: Параметры для фильтрации контактов
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Contacts"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactsArray"
      security:
        - KEY: []
  /users/internet/all:
    get:
      tags:
        - internet
      summary: Получить всех пользователей
      parameters:
        - name: id
          in: query
          description: ID услуги
          schema:
            type: boolean
            default: true
        - name: loginStatus
          in: query
          description: Статус пользователя
          schema:
            type: boolean
            default: true
        - name: tpId
          in: query
          description: Идентификатор тарифного плана
          schema:
            type: boolean
            default: true
        - name: uid
          in: query
          description: UID пользователя
          schema:
            type: boolean
            default: true
        - name: cid
          in: query
          description: Идентификатор пользователя
          schema:
            type: boolean
            default: false
        - name: cpeMac
          in: query
          description: MAC клиентского устройства
          schema:
            type: boolean
            default: false
        - name: tags
          in: query
          description: Метки пользователя
          schema:
            type: boolean
            default: false
        - name: vlan
          in: query
          description: Клиентский VLAN
          schema:
            type: boolean
            default: false
        - name: serverVlan
          in: query
          description: Серверный VLAN
          schema:
            type: boolean
            default: false
        - name: joinService
          in: query
          description: Совместный сервис
          schema:
            type: boolean
            default: false
        - name: logins
          in: query
          description: Количество одновременных сессий для выбранного логина
          schema:
            type: boolean
            default: false
        - name: speed
          in: query
          description: Скорость ТП
          schema:
            type: boolean
            default: false
        - name: nasId
          in: query
          description: ID сервера доступа
          schema:
            type: boolean
            default: false
        - name: port
          in: query
          description: Порт
          schema:
            type: boolean
            default: false
        - name: filterId
          in: query
          description: Id фильтра тарифного плана
          schema:
            type: boolean
            default: false
        - name: tpNum
          in: query
          description: Номер тарифного плана
          schema:
            type: boolean
            default: false
        - name: tpName
          in: query
          description: Название тарифного плана
          schema:
            type: boolean
            default: false
        - name: monthFee
          in: query
          description: Абонплата за месяц
          schema:
            type: boolean
            default: false
        - name: abonDistribution
          in: query
          description: Распределение абонплаты
          schema:
            type: boolean
            default: false
        - name: dayFee
          in: query
          description: Дневная абонплата
          schema:
            type: boolean
            default: false
        - name: personalTp
          in: query
          description: Персональный тарифный план
          schema:
            type: boolean
            default: false
        - name: paymentType
          in: query
          description: Вид оплаты
          schema:
            type: boolean
            default: false
        - name: internetStatus
          in: query
          description: Статус услуги Интернет
          schema:
            type: boolean
            default: false
        - name: internetStatusDate
          in: query
          description: Дата изменения статуса Интернет
          schema:
            type: boolean
            default: false
        - name: internetStatusId
          in: query
          description: ID статуса
          schema:
            type: boolean
            default: false
        - name: internetLogin
          in: query
          description: Логин услуги Интернет
          schema:
            type: boolean
            default: false
        - name: feesMethod
          in: query
          description: Тип списания
          schema:
            type: boolean
            default: true
        - name: ipNum
          in: query
          description: IP адрес пользователя
          schema:
            type: boolean
            default: false
        - name: monthIpnTrafficIn
          in: query
          description: Месячный входящий трафик IPN
          schema:
            type: boolean
            default: false
        - name: monthIpnTrafficOut
          in: query
          description: Месячный исходящий трафик IPN
          schema:
            type: boolean
            default: false
        - name: shedule
          in: query
          description: Расписания
          schema:
            type: boolean
            default: false
        - name: tpFixedFeesDay
          in: query
          description: Фиксированная дата абонплаты
          schema:
            type: boolean
            default: false
        - name: tpReductionFee
          in: query
          description: Скидка
          schema:
            type: boolean
            default: false
        - name: online
          in: query
          description: Online сессия пользователя
          schema:
            type: boolean
            default: false
        - name: onlineIp
          in: query
          description: IP сессии
          schema:
            type: boolean
            default: false
        - name: onlineDuration
          in: query
          description: Продолжительность сессии
          schema:
            type: boolean
            default: false
        - name: onlineCid
          in: query
          description: Идентификатор сессии
          schema:
            type: boolean
            default: false
        - name: onlineTpId
          in: query
          description: Идентификатор тарифного плана сессии
          schema:
            type: boolean
            default: false
        - name: onlineNasId
          in: query
          description: Идентификатор сервера доступа сессии
          schema:
            type: boolean
            default: false
        - name: internetPassword
          in: query
          description: Пароль услуги Интернет
          schema:
            type: boolean
            default: false
        - name: internetExpire
          in: query
          description: Окончание услуги Интернет
          schema:
            type: boolean
            default: false
        - name: internetActivate
          in: query
          description: Дата активации услуги Интернет
          schema:
            type: boolean
            default: false
        - name: monthTrafficIn
          in: query
          description: Месячный входящий трафик
          schema:
            type: boolean
            default: false
        - name: monthTrafficOut
          in: query
          description: Месячный исходящий трафик
          schema:
            type: boolean
            default: false
        - name: lastActivity
          in: query
          description: Последняя активность
          schema:
            type: boolean
            default: false
        - name: dayTrafLimit
          in: query
          description: Лимит дневного трафика
          schema:
            type: boolean
            default: false
        - name: weekTrafLimit
          in: query
          description: Недельный лимит трафика
          schema:
            type: boolean
            default: false
        - name: monthTrafLimit
          in: query
          description: Лимит месячного трафика
          schema:
            type: boolean
            default: false
        - name: totalTrafLimit
          in: query
          description: Лимит трафика
          schema:
            type: boolean
            default: false
        - name: describeAid
          in: query
          description: Описание для администратора
          schema:
            type: boolean
            default: false
        - name: serviceCount
          in: query
          description: Количество подключених тарифных планов
          schema:
            type: boolean
            default: false
        - name: ipnActivate
          in: query
          description: IPN активация
          schema:
            type: boolean
            default: false
        - name: nasIp
          in: query
          description: IP адрес сервера доступа
          schema:
            type: boolean
            default: false
        - name: fio
          in: query
          description: ФИО пользователя
          schema:
            type: boolean
            default: false
        - name: deposit
          in: query
          description: Депозит
          schema:
            type: boolean
            default: false
        - name: extDeposit
          in: query
          description: Дополнительный баланc
          schema:
            type: boolean
            default: false
        - name: extBillId
          in: query
          description: ID дополнительного счета
          schema:
            type: boolean
            default: false
        - name: credit
          in: query
          description: Кредит пользователя
          schema:
            type: boolean
            default: false
        - name: creditDate
          in: query
          description: Дата установки кредита
          schema:
            type: boolean
            default: false
        - name: phone
          in: query
          description: Номер телефона
          schema:
            type: boolean
            default: false
        - name: email
          in: query
          description: E-mail
          schema:
            type: boolean
            default: false
        - name: floor
          in: query
          description: Этаж
          schema:
            type: boolean
            default: false
        - name: entrance
          in: query
          description: Подъезд
          schema:
            type: boolean
            default: false
        - name: addressFlat
          in: query
          description: Номер квартиры
          schema:
            type: boolean
            default: false
        - name: pasportDate
          in: query
          description: Дата выдачи паспорта
          schema:
            type: boolean
            default: false
        - name: pasportNum
          in: query
          description: Номер паспорта
          schema:
            type: boolean
            default: false
        - name: pasportGrant
          in: query
          description: Орган выдачи паспорта
          schema:
            type: boolean
            default: false
        - name: city
          in: query
          description: Город проживания
          schema:
            type: boolean
            default: false
        - name: zip
          in: query
          description: Индекс города
          schema:
            type: boolean
            default: false
        - name: gid
          in: query
          description: ID группы
          schema:
            type: boolean
            default: false
        - name: companyId
          in: query
          description: ID компании
          schema:
            type: boolean
            default: false
        - name: companyName
          in: query
          description: Название компании
          schema:
            type: boolean
            default: false
        - name: contractId
          in: query
          description: ID контракта
          schema:
            type: boolean
            default: false
        - name: contractSufix
          in: query
          description: Суффикс контракта
          schema:
            type: boolean
            default: false
        - name: contractDate
          in: query
          description: Дата подписания контракта
          schema:
            type: boolean
            default: false
        - name: expire
          in: query
          description: Дата окончания аккаунта
          schema:
            type: boolean
            default: false
        - name: reduction
          in: query
          description: Скидка
          schema:
            type: boolean
            default: false
        - name: lastPayment
          in: query
          description: Дата последней оплаты
          schema:
            type: boolean
            default: false
        - name: lastFees
          in: query
          description: Дата последнего списания
          schema:
            type: boolean
            default: false
        - name: registration
          in: query
          description: Дата регистрации
          schema:
            type: boolean
            default: false
        - name: reductionDate
          in: query
          description: Дата установки кредита
          schema:
            type: boolean
            default: false
        - name: comments
          in: query
          description: Комментарий
          schema:
            type: boolean
            default: false
        - name: billId
          in: query
          description: Уникальный идентификатор счета пользователя
          schema:
            type: boolean
            default: false
        - name: activate
          in: query
          description: Дата активации пользователя
          schema:
            type: boolean
            default: false
        - name: acceptRules
          in: query
          description: 1 - пользователь принял условия соглашения в кабинете пользователя, 2 - не принял
          schema:
            type: boolean
            default: false
        - name: password
          in: query
          description: Пароль пользователя
          schema:
            type: boolean
            default: false
        - name: birthDate
          in: query
          description: Дата рождения
          schema:
            type: boolean
            default: false
        - name: pageRows
          in: query
          description: Количество записей
          schema:
            type: integer
            default: 100000
        - name: sort
          in: query
          description: Сортировка по одному параметру выше
          schema:
            type: string
      responses:
        200:
          description: успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserInternetList"
      security:
        - KEY: []
  /internet/{UID}/session/hangup:
    post:
      tags:
        - internet
      summary: Hangup сессии абонента
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InternetHangupRequest"
        required: true
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternetHangupResponse"
        400:
          description: Валидация не успешна
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternetHangup400"
      security:
        - KEY: []
  /users/{UID}/internet:
    get:
      tags:
        - internet
      summary: Получить список ТП Internet пользователя
      description: Возвращает ТП интернет пользователя
      operationId: getUserInternetByUID
      parameters:
        - name: UID
          in: path
          description: UID пользователя в биллинге
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserInternetList"
        400:
          description: Пользователь не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
      security:
        - KEY: []
    post:
      tags:
        - internet
      summary: Добавление ТП Internet пользователю УДАЛЕНО В ВЕРСИИ 1.0
      deprecated: true
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserInternet"
        required: true
      responses:
        400:
          description: Пользователь не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
      security:
        - KEY: []
  /internet/{UID}/{ID}/warnings:
    get:
      tags:
        - internet
      summary: Информация о списаниях
      operationId: userInternetWarnings
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: number
        - name: ID
          in: path
          description: ID услуги
          required: true
          schema:
            type: number
      responses:
        200:
          description: Успешное выполнение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternetWarnings"
      security:
        - KEY: []
  /internet/{UID}/activate:
    post:
      tags:
        - internet
      summary: Добавление ТП Интернет пользователю
      operationId: addUserInternet
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserInternetActivate"
        required: true
      responses:
        200:
          description: Успешно добавлено
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully added
        400:
          description: Нет поля tpId
          content:
            text/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 100
                  errstr:
                    type: string
                    example: No field tpId
      security:
        - KEY: []
    put:
      tags:
        - internet
      summary: Изменение  ТП Internet пользователю
      operationId: changeUserInternet
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserInternetChange"
        required: true
      responses:
        200:
          description: Успешно изменено
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: Successfully changed
        400:
          description: Нет id услуги
          content:
            text/json:
              schema:
                type: object
                properties:
                  errno:
                    type: integer
                    example: 102
                  errstr:
                    type: string
                    example: No field id
      security:
        - KEY: []
  /users/{UID}/internet/{ID}:
    get:
      tags:
        - internet
      summary: Информация об интернет услуге пользователя по ID услуги
      operationId: internetInfoUser
      parameters:
        - name: UID
          in: path
          description: UID пользователя
          required: true
          schema:
            type: integer
            format: int64
        - name: ID
          in: path
          description: ID услуги
          required: true
          schema:
            type: integer
            format: int64
      responses:
        400:
          description: Пользователь не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
      security:
        - KEY: []
  /internet/tariffs/:
    get:
      tags:
        - internet
      summary: Список тарифных планов
      parameters:
        - name: showAllColumns
          description: Вернуть все доступные поля
          in: query
          schema:
            type: boolean
            default: false
        - name: abonDistribution
          description: Распределение абонплаты
          in: query
          schema:
            type: boolean
            default: true
        - name: activatePrice
          description: Цена за активацию
          in: query
          schema:
            type: boolean
            default: false
        - name: activeDayFee
          description: Списание только за активные дни
          in: query
          schema:
            type: boolean
            default: true
        - name: activeMonthFee
          description: Списание только за активные месяцы
          in: query
          schema:
            type: boolean
            default: false
        - name: age
          description: Время существования с момента активации (дни)
          in: query
          schema:
            type: boolean
            default: true
        - name: changePrice
          description: Цена за смену
          in: query
          schema:
            type: boolean
            default: false
        - name: comments
          description: Комментарий
          in: query
          schema:
            type: boolean
            default: false
        - name: credit
          description: Кредит
          in: query
          schema:
            type: boolean
            default: true
        - name: creditTresshold
          description: Несъёмный минимум
          in: query
          schema:
            type: boolean
            default: false
        - name: dayFee
          description: Дневная абонплата
          in: query
          schema:
            type: boolean
            default: true
        - name: dayTimeLimit
          description: Лимит времени (день)
          in: query
          schema:
            type: boolean
            default: false
        - name: dayTrafLimit
          description: Дневной лимит трафика
          in: query
          schema:
            type: boolean
            default: false
        - name: describeAid
          description: Описание для администратора
          in: query
          schema:
            type: boolean
            default: false
        - name: domainId
          description: ID домена
          in: query
          schema:
            type: boolean
            default: false
        - name: extBillAccount
          description: Дополнительный счет
          in: query
          schema:
            type: boolean
            default: true
        - name: extBillFeesMethod
          description: Тип списания для дополнительного счета
          in: query
          schema:
            type: boolean
            default: false
        - name: feesMethod
          description: Тип списания
          in: query
          schema:
            type: boolean
            default: true
        - name: filterId
          description: Filter ID
          in: query
          schema:
            type: boolean
            default: false
        - name: fine
          description: Пеня
          in: query
          schema:
            type: boolean
            default: true
        - name: fixedFeesDay
          description: Фиксированная дата абонплаты
          in: query
          schema:
            type: boolean
            default: false
        - name: id
          description: ID тарифного плата
          in: query
          schema:
            type: boolean
            default: true
        - name: inPrice
          description: Цена за полученный трафик
          in: query
          schema:
            type: boolean
            default: false
        - name: inSpeed
          description: Получено скорость
          in: query
          schema:
            type: boolean
            default: false
        - name: intervals
          description: Интервалы
          in: query
          schema:
            type: boolean
            default: false
        - name: ippool
          description: IP pool
          in: query
          schema:
            type: boolean
            default: false
        - name: logins
          description: Количество одновременных сессий для выбранного логина
          in: query
          schema:
            type: boolean
            default: true
        - name: maxSessionDuration
          description: Максимальная продолжительность сессии
          in: query
          schema:
            type: boolean
            default: false
        - name: minSessionCost
          description: Минимальная цена сессии
          in: query
          schema:
            type: boolean
            default: false
        - name: minUse
          description: Минимальная денежная наработка
          in: query
          schema:
            type: boolean
            default: true
        - name: module
          description: Модуль
          in: query
          schema:
            type: boolean
            default: true
        - name: monthFee
          description: Абонплата за месяц
          in: query
          schema:
            type: boolean
            default: true
        - name: monthTimeLimit
          description: Месячный лимит времени
          in: query
          schema:
            type: boolean
            default: false
        - name: monthTrafLimit
          description: Месячный лимит трафика
          in: query
          schema:
            type: boolean
            default: false
        - name: name
          description: Название
          in: query
          schema:
            type: boolean
            default: true
        - name: negDepositFilterId
          description: Фільтр негативного депозиту
          in: query
          schema:
            type: boolean
            default: false
        - name: negDepositIppool
          description: IP pool негативного депозиту
          in: query
          schema:
            type: boolean
            default: false
        - name: nextTpId
          description: ID следующего тарифного плана
          in: query
          schema:
            type: boolean
            default: true
        - name: octetsDirection
          description: Направление трафика
          in: query
          schema:
            type: boolean
            default: false
        - name: outPrice
          description: Цена за исходящий трафик
          in: query
          schema:
            type: boolean
            default: false
        - name: outSpeed
          description: Исходящая скорость
          in: query
          schema:
            type: boolean
            default: false
        - name: paymentType
          description: >
            Тип оплаты за услугу
            * `0` - Предоплата
            * `1` - Послеоплата
          in: query
          schema:
            type: boolean
            default: true
        - name: periodAlignment
          description: Параметр который возвращает биллинг
          in: query
          schema:
            type: boolean
            default: false
        - name: postpaidDailyFee
          description: Выравнивание месяца
          in: query
          schema:
            type: boolean
            default: true
        - name: postpaidMonthlyFee
          description: Абонплата за месяц - Послеоплата
          in: query
          schema:
            type: boolean
            default: true
        - name: prepaid
          description: Предоплата
          in: query
          schema:
            type: boolean
            default: false
        - name: priority
          description: Приоритет
          in: query
          schema:
            type: boolean
            default: false
        - name: promotional
          description: Акционный ТП
          in: query
          schema:
            type: boolean
            default: false
        - name: radPairs
          description: RADIUS пары
          in: query
          schema:
            type: boolean
            default: true
        - name: reductionFee
          description: Скидка
          in: query
          schema:
            type: boolean
            default: true
        - name: serviceId
          description: Id сервиса
          in: query
          schema:
            type: boolean
            default: false
        - name: serviceName
          description: Название сервиса
          in: query
          schema:
            type: boolean
            default: false
        - name: smallDepositAction
          description: Действие при нед. депозите
          in: query
          schema:
            type: boolean
            default: true
        - name: status
          description: Статус
          in: query
          schema:
            type: boolean
            default: false
        - name: timeTarifs
          description: Часовой тариф
          in: query
          schema:
            type: boolean
            default: true
        - name: totalTimeLimit
          description: Временной лимит
          in: query
          schema:
            type: boolean
            default: false
        - name: totalTrafLimit
          description: Лимит трафика
          in: query
          schema:
            type: boolean
            default: false
        - name: tpGid
          description: ID группы
          in: query
          schema:
            type: boolean
            default: false
        - name: tpGroupName
          description: Название группы
          in: query
          schema:
            type: boolean
            default: true
        - name: tpId
          description: Идентификатор тарифного плана
[...]
