.children-toggle i{
  margin: 5px;
}

.ul-list, .ul-list ul {
  margin:0;
  padding:0;
  list-style:none
}
.ul-list ul {
  margin-left:1em;
  position:relative
}
.ul-list ul ul {
  margin-left:.5em
}
.ul-list ul:before {
  content:"";
  display:block;
  width:0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  border-left:1px solid
}
.ul-list li {
  margin:0;
  padding:0 1.5em;
  line-height:2em;
  color: inherit;
  font-weight:700;
  position:relative
}
.ul-list ul li:before {
  content:"";
  display:block;
  width:20px;
  height:0;
  border-top:1px solid;
  margin-top:-1px;
  position:absolute;
  top:1em;
  left:0
}
.ul-list ul li:last-child:before {
  height:auto;
  top:1em;
  bottom:0
}
.indicator {
  margin-right:5px;
}
.ul-list li a {
  text-decoration: none;
  color: inherit;
}
.ul-list li a, .ul-list li a:active, .ul-list li a:focus {
  text-decoration: none;
  color: inherit;
  border:none;
  background:transparent;
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  outline: 0;
}
.ul-list .parent {
  font-size: 15px;
}